@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fasthand', cursive;

}

body{
    height: 100%;
    width: 100%;
    background-image: url(../bakery_images/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 2s;
}

img{
    height: 50px;
    width: 50px;
    margin: 10px;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
}

nav h1{
    margin: 0 auto;
    font-size: 40px;
}

section h3{
    font-size: 30px;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
}

.goods{
    height: 300px;
    width: 90%;
    margin: 20px;
}

.horizontal-line{
    height: 1px;
    width: 90%;
    border: 1px solid grey;
    margin-left: 70px;
}

.product{
    display: flex;
    justify-content: center;
}

.prod-window{
    /* border: 2px solid black; */
    height: 200px;
    width: 300px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px;
}

.pastry{
    background-image: url(../bakery_images/puff.jpg);
    background-position: center;
    background-size: cover;
}

.savory{
    background-image: url(../bakery_images/moimoi.jpeg);
    background-position: center;
    background-size: cover;
}

.beverage{
    background-image: url(../bakery_images/coffeecup.jpeg);
    background-position: center;
    background-size: cover;
}

.overlay{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 2;
    transition: .3s;
    padding: 10px;
}

.prod-window:hover > .overlay{
    opacity: 1;
}

button{
    background-image: linear-gradient(to right, #4e598c, black, #f9c784);
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    font-size: 18px;
    margin-top: auto;
    transition: .3s;
    background-size: 200%;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
    background-position: right;
}